# <aside class="notes"></aside>
snippet notes Create reveal.js notes
	<aside class="notes">
		${0}
	</aside>
# syntax-highlighted code snippet
snippet cs Syntax-highlighted code for reveal.js
	<pre><code class="lang-${1}" data-trim>
	${2}
	</code></pre>
