[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "bundle/argumentrewrap"]
	path = bundle/argumentrewrap
	url = https://github.com/weierophinney/argumentrewrap.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/mustache.vim"]
	path = bundle/mustache.vim
	url = https://github.com/weierophinney/mustache.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/weierophinney/vimwiki.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/weierophinney/vim-latex.github.com.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/phpcomplete.vim"]
	path = bundle/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/inline_edit"]
	path = bundle/inline_edit
	url = git://github.com/AndrewRadev/inline_edit.vim.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "bundle/vim-movar"]
	path = bundle/vim-movar
	url = git://github.com/robmiller/vim-movar.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "StanAngeloff.php.vim"]
	path = bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/tagbar-phpctags.vim"]
	path = bundle/tagbar-phpctags.vim
	url = https://github.com/vim-php/tagbar-phpctags.vim.git
[submodule "bundle/vim-php-namespace"]
	path = bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace
[submodule "bundle/phpdcd.vim"]
	path = bundle/phpcd.vim
	url = https://github.com/lvht/phpcd.vim
[submodule "bundle/vim-phpstan"]
	path = bundle/vim-phpstan
	url = https://github.com/phpstan/vim-phpstan
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ansiesc"]
	path = bundle/vim-ansiesc
	url = git://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "bundle/vim-AnsiEsc"]
	path = bundle/vim-AnsiEsc
	url = https://github.com/jbnicolai/vim-AnsiEsc.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "phpactor"]
	path = phpactor
	url = https://github.com/phpactor/phpactor.git
[submodule "bundle/phpactor"]
	path = bundle/phpactor
	url = https://github.com/phpactor/phpactor.git
