[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/mustache.vim"]
	path = bundle/mustache.vim
	url = git@github.com:weierophinney/mustache.vim.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = git@github.com:weierophinney/vim-task.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:weierophinney/vimwiki.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/esukram/taglist.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/weierophinney/snipmate.vim.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/paster.vim"]
	path = bundle/paster.vim
	url = https://github.com/weierophinney/paster.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
