/**
 * Set value for $2
 *
 * @param  mixed $2
 * @return $this
 */
public function set${1:VarName}($${2:propName})
{
	$this->$2 = $$2;
	return $this;
}

/**
 * Get value for $2
 *
 * @return mixed
 */
public function get$1()
{
	if (null === $this->$2) {
		$this->set$1(${3:value});
	}
	return $this->$2;
}
