/**
 * @param ContainerInterface $container
 * @param string $requestedName
 * @param null|array $options
 * @return ${1}
 */
public function __invoke(ContainerInterface $container, $requestedName, array $options = null)
{
    ${2}
}

