use Interop\Http\ServerMiddleware\DelegateInterface;
use Interop\Http\ServerMiddleware\MiddlewareInterface;
use Psr\Http\Message\ServerRequestInterface;
use Zend\Diactoros\Response\JsonResponse;

class ${1} implements MiddlewareInterface
{
    public function process(ServerRequestInterface $request, DelegateInterface $delegate) : JsonResponse
    {
		${2}
        return new JsonResponse();
    }
}
